<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- 整合hibernate配置文件, 加载sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<!-- 加载hibernate事物管理 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- 加载类 -->
	<bean id="user" class="com.zuxia.entity.User"></bean>
	<bean id="password" class="com.zuxia.entity.Password"></bean>
	<bean id="safeQuestion" class="com.zuxia.entity.SafeQuestion"></bean>
	<bean id="questionMaster" class="com.zuxia.entity.QuestionMaster"></bean>
	<bean id="module" class="com.zuxia.entity.Module"></bean>
	<bean id="childModule" class="com.zuxia.entity.ChildModule"></bean>
	<bean id="note" class="com.zuxia.entity.Note"></bean>
	<bean id="fellowNote" class="com.zuxia.entity.FellowNote"></bean>
	<bean id="province" class="com.zuxia.entity.Province"></bean>
	<bean id="city" class="com.zuxia.entity.City"></bean>
	<!-- *************dao************* -->
	<!-- userDao -->
	<bean id="userDaoImpl" class="com.zuxia.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- noteDao -->
	<bean id="noteDaoImpl" class="com.zuxia.dao.impl.NoteDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- fellowNoteDao -->
	<bean id="fellowNoteDaoImpl" class="com.zuxia.dao.impl.FellowNoteDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- moduleDao -->
	<bean id="moduleDaoImpl" class="com.zuxia.dao.impl.ModuleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="childModuleDaoImpl" class="com.zuxia.dao.impl.ChildModuleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="questionMasterDaoImpl" class="com.zuxia.dao.impl.QuestionMasterDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- *************service************* -->
	<bean id="userServiceImpl" class="com.zuxia.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDaoImpl" />
		<property name="questionMasterDao" ref="questionMasterDaoImpl" />
	</bean>
	<bean id="noteServiceImpl" class="com.zuxia.service.impl.NoteServiceImpl">
		<property name="noteDao" ref="noteDaoImpl" />
		<property name="fellowNoteDao" ref="fellowNoteDaoImpl" />
	</bean>
	<bean id="fellowNoteServiceImpl" class="com.zuxia.service.impl.FellowNoteServiceImpl">
		<property name="fellowNotedao" ref="fellowNoteDaoImpl" />
	</bean>
	<bean id="moduleServiceImpl" class="com.zuxia.service.impl.ModuleServiceImpl">
		<property name="moduleDao" ref="moduleDaoImpl" />
		<property name="childModuleDao" ref="childModuleDaoImpl" />
		<property name="noteDao" ref="noteDaoImpl" />
		<property name="fellowNoteDao" ref="fellowNoteDaoImpl" />
	</bean>
	<bean id="childModuleServiceImpl" class="com.zuxia.service.impl.ChildModuleServiceImpl">
		<property name="childModuleDao" ref="childModuleDaoImpl" />
	</bean>
	<!-- *************Form*************** -->
	<bean id="registForm" class="com.zuxia.form.RegistForm"></bean>
	<bean id="editUserForm" class="com.zuxia.form.EditUserForm"></bean>
	<bean id="editPwdForm" class="com.zuxia.form.EditPwdForm"></bean>
	<bean id="fellowNoteForm" class="com.zuxia.form.FellowNoteForm"></bean>
	<bean id="addNoteForm" class="com.zuxia.form.AddNoteForm"></bean>
	<bean id="editNoteForm" class="com.zuxia.form.EditNoteForm"></bean>
	<bean id="editFellowNoteForm" class="com.zuxia.form.EditFellowNoteForm"></bean>
	<!-- *************action************* -->
	<!-- RegistAction scope="prototype" 非单例模式-->
	<bean id="registAction" class="com.zuxia.action.RegistAction"
		scope="prototype">
		<property name="userService" ref="userServiceImpl" />
		<property name="registForm" ref="registForm" />
	</bean>
	<bean id="loginAction" class="com.zuxia.action.LoginAction">
		<property name="userService" ref="userServiceImpl" />
	</bean>
	<bean id="noteAction" class="com.zuxia.action.NoteAction">
		<property name="noteService" ref="noteServiceImpl" />
		<property name="addNoteForm" ref="addNoteForm"></property>
		<property name="editNoteForm" ref="editNoteForm" />
	</bean>
	<bean id="editUserAction" class="com.zuxia.action.EditUserAction">
		<property name="userService" ref="userServiceImpl" />
		<property name="editUserForm" ref="editUserForm" />
		<property name="editPwdForm" ref="editPwdForm" />
	</bean>
	<bean id="registInitAction" class="com.zuxia.action.RegistInitAction">
		<property name="userService" ref="userServiceImpl" />
	</bean>
	<bean id="validateImageAction" class="com.zuxia.action.ValidateImageAction"
		scope="prototype"></bean>
	<bean id="indexInitAction" class="com.zuxia.action.IndexInitAction">
		<property name="moduleService" ref="moduleServiceImpl" />
	</bean>
	<bean id="childModuleAction" class="com.zuxia.action.ChildModuleAction">
		<property name="childModuleService" ref="childModuleServiceImpl" />
		<property name="userService" ref="userServiceImpl"/>
	</bean>
	<bean id="fellowNoteAction" class="com.zuxia.action.FellowNoteAction">
		<property name="fellowNoteForm" ref="fellowNoteForm" />
		<property name="fellowNoteService" ref="fellowNoteServiceImpl" />
		<property name="editFellowNoteForm" ref="editFellowNoteForm" />
	</bean>
	<bean id="userDetailInitAction" class="com.zuxia.action.UserDetailInitAction">
		<property name="userService" ref="userServiceImpl" />
	</bean>
	<bean id="noteBrowseInitAction" class="com.zuxia.action.NoteBrowseInitAction">
		<property name="noteService" ref="noteServiceImpl" />
		<property name="childModuleService" ref="childModuleServiceImpl" />
	</bean>
	<bean id="noteDetailInitAction" class="com.zuxia.action.NoteDetailInitAction">
		<property name="noteService" ref="noteServiceImpl" />
	</bean>
	<bean id="noteBrowserAction" class="com.zuxia.action.NoteBrowserAction">
		<property name="noteService" ref="noteServiceImpl" />
		<property name="childModuleService" ref="childModuleServiceImpl" />
	</bean>
	<!-- 事物管理 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor pointcut="execution(* com.zuxia.dao.*.*(..))"
			advice-ref="txAdvice" />
	</aop:config>
</beans>
