<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- 整合hibernate配置文件, 加载sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<!-- 加载hibernate事物管理 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- 加载类 -->
	<bean id="user" class="com.zuxia.entity.User"></bean>
	<bean id="password" class="com.zuxia.entity.Password"></bean>
	<bean id="safeQuestion" class="com.zuxia.entity.SafeQuestion"></bean>
	<!-- *************dao************* -->
	<!-- userDao -->
	<bean id="userDaoImpl" class="com.zuxia.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- noteDao -->
	<bean id="noteDaoImpl" class="com.zuxia.dao.impl.NoteDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- fellowNoteDao -->
	<bean id="fellowNoteDaoImpl" class="com.zuxia.dao.impl.FellowNoteDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- *************service************* -->
	<!-- userService -->
	<bean id="userServiceImpl" class="com.zuxia.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDaoImpl" />
	</bean>
	<bean id="noteServiceImpl" class="com.zuxia.service.impl.NoteServiceImpl">
		<property name="noteDao" ref="noteDaoImpl" />
	</bean>
	<bean id="fellowNoteServiceImpl" class="com.zuxia.service.impl.FellowNoteServiceImpl">
		<property name="fellowNotedao" ref="fellowNoteDaoImpl" />
	</bean>
	<!-- *************action************* -->
	<!-- RegistAction scope="prototype" 非单例模式-->
	<bean id="RegistAction" class="com.zuxia.action.RegistAction"
		scope="prototype">
		<property name="userService" ref="userServiceImpl" />
		<property name="user" ref="user" />
		<property name="password" ref="password" />
		<property name="safeQuestion" ref="safeQuestion" />
	</bean>
	<!-- LoginAction -->
	<bean id="LoginAction" class="com.zuxia.action.LoginAction">
		<property name="userService" ref="userServiceImpl" />
		<property name="user" ref="user" />
		<property name="password" ref="password" />
	</bean>


	<!-- 事物管理 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor pointcut="execution(* com.zuxia.dao.*.*(..))"
			advice-ref="txAdvice" />
	</aop:config>


</beans>
