<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>zxpub</display-name>
	<!-- 管理session -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 装载struts配置文件 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>Popedom</display-name>
		<filter-name>Popedom</filter-name>
		<filter-class>com.zuxia.fileter.Popedom</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>SessionFileter</display-name>
		<filter-name>SessionFileter</filter-name>
		<filter-class>com.zuxia.fileter.SessionFileter</filter-class>
	</filter>


	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Popedom</filter-name>
		<url-pattern>/Popedom</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Popedom</filter-name>
		<url-pattern>/regist.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Popedom</filter-name>
		<url-pattern>/note.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Popedom</filter-name>
		<url-pattern>/module.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Popedom</filter-name>
		<url-pattern>/editNote.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Popedom</filter-name>
		<url-pattern>/userDetails.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFileter</filter-name>
		<url-pattern>/SessionFileter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFileter</filter-name>
		<url-pattern>/editChildModule.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFileter</filter-name>
		<url-pattern>/addChildModule.jsp</url-pattern>
	</filter-mapping>
	<!-- 装载sping配置文件 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>preRegist.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404error.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500error.html</location>
	</error-page>
</web-app>
